*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/assets
/public/uploads
/public/chatuploads
/public
/node_modules
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb

## Environment normalisation:
/.bundle
/vendor/bundle

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore .ssl
/.ssl

# MAC OS tmp files
.DS_Store
.env
.idea/*
/config/certs/*
!/config/certs/.keep

# .env.development
# .env.docker
# .env.production
# .env.staging
# .env.test

dump.rdb
.byebug_history
