<div class="widget border-bottom-none">
    <h3 class="innerAll handle bg-pauses border-bottom margin-bottom-none"><%= t('reports.comparison.pauses')%></h3>
    <a href="#" class="chart-toggle" data-chart-id="chart_horizontal_bars2">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="widget-body">
        <div id="chart_stacked_bars_pauses" class="flotchart-holder"></div>
    </div>
</div>
<script>
    $('#chart_stacked_bars_pauses').extremiaFlotchart(
            'comparisonReportPausesChart',
            {
                'rawData': [
                    {
                        label: I18n.t('reports.comparison.pauses_percentage'),
                        data: Report.pausesData
                    }
                ],
                'rawTicks': Report.pausesTicks,
                'render': true
            }
    );
</script>