<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="modal-title"><%= t('user_dashboard.training.edit_answer') %></h3>
    </div>

    <div class="modal-body " data-bind="css: { disabledContent: disable_controlls() == true }">
      <%= render partial: 'answer_form', locals: {name: "answer_edit"} %>
    </div>
  </div>
</div>
