#contakti-phone-container
{
  ._hide{
    display: none;
  }

  #sip-widget-wrapper{
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 0px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */

    #open-widget-cta {
      display: block; /* Hidden by default */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #26828e; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 10px; /* Some padding */
      border-radius: 5px; /* Rounded corners */
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      font-size: 18px; /* Increase font size */

      &:hover{
        background-color: #555; /* Add a dark-grey background on hover */
      }
    }
    #widget{
      position: relative;
      #phone-wrapper{
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        right: 99px;
        bottom: 0;
        width: 320px;
        text-align: center;
      }


      ._sip_button {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 4px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      ._blue {background-color: #008CBA;} /* Blue */
      ._red {background-color: #f44336;} /* Red */
      ._gray {background-color: #e7e7e7; color: black;} /* Gray */
      ._black {background-color: #555555;} /* Black */

    }

  }


  #sipClient
  {
    background-color: #fff;
    font-size: 12px;
    p {
      margin: 0;
      padding: 0 0 10px 0;
      line-height: 18px;
    }
  }
   .digit {
      height: 42px;
      // width: 72px;
      margin: 10px 14px !important;
      background-color: #ffffff;
      font-weight: 300;
      font-size: 24px;
      border-radius: 8px;
      line-height: 21px;
      padding-top: 9px;
      // float: left;
    }

    #in-call-actions{
      margin-top: 10px;
      padding-top: 10px;
      // display: block;
      border-top: 1px solid #eee;
      text-align: center;
      .btnHangUp{
        width: 100px;
        text-align: center;
      }
    }


}
