<li data-row="1" data-col="1" data-sizex="4" data-sizey="1" data-max-sizey="1" data-wg-name="peak_times">
    <div>
        <i class="fa fa-1x fa-plus-circle"></i>
        <i class="fa fa-1x fa-times-circle"></i>
    </div>
    <div class="col-xs-12 bg-peak">
        <h5><%= t('reports.summary_report.peak_time')%></h5>
    </div>
</li>
