<script type="text/html" id="flag_tag_template">
  <span class="taglabels label-default" data-bind="css: flag.labelClass">
    <span data-bind="text: flag.name"></span>
    <a data-bind="click: flag.destroy"><i class="remove glyphicon glyphicon-remove tag-close"></i></a>
  </span>
</script>

