<script type="text/html" id="generic_tag_template">
  <span class="taglabels label-default">
    <span data-bind="text: generic_tag.name"></span>
    <a data-bind="click: generic_tag.destroy"><i class="remove glyphicon glyphicon-remove tag-close"></i></a>
  </span>
</script>

