<script type="text/html" id="skill_tag_template">
  <span class="taglabel label-primary" data-bind="css: skill.priorityClass">
    <span data-bind="text: skill.name"></span>
    <a data-bind="click: skill.destroy"><i class="remove glyphicon glyphicon-remove tag-close"></i></a>
  </span>
</script>