$primary-color:#26828E;
$color-pallet-green:#8dc63f;
$color-pallet-yellow:#fbd039;
$color-pallet-red: #c60016;
$color-pallet-blue: #26828E;
$color-pallet-blue2: #11a3c0;
$color-high-priority: rgba(255, 0, 0, 0.15);
$color-medium-priority: rgba(239, 255, 0, 0.2);
$color-low-priority: rgba(168, 241, 174, 0.4)
