<%
   # (CON-126) Dirty fix to differentiate between a generated report (which should show solved tasks as well) & dashboard
   @is_for_dashboard = defined?(is_for_dashboard) ? is_for_dashboard : false
%>

<div class="container-fluid" id="main_dashboard">
    <div class="row">
        <%= render partial: 'dashboard_layouts/show', locals: { is_for_dashboard: @is_for_dashboard} %>
    </div>
</div>
